VITE_CTP_PROJECT_KEY=name-project
VITE_CTP_CLIENT_ID=string
VITE_CTP_CLIENT_SECRET=string
VITE_CTP_SCOPES=manage_project:name-project
VITE_CTP_API_URL=https://api.us-central1.gcp.commercetools.com
VITE_CTP_AUTH_URL=https://auth.us-central1.gcp.commercetools.com