.noArrows {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 80px;

  font-size: larger;
  color: #121212;
  text-align: center;

  background-color: #f0f0f0;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    appearance: none;
  }
}

.countButton {
  @apply flex content-center justify-center items-center bg-[#f0f0f0] w-[40px] text-3xl font-bold;
}

.countButton:hover {
  background-color: #63acff;
}

.cartBody {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 150px;
}

@media (width <= 550px) {
  .cartBody {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;

    max-width: 420px;
    height: auto;
  }
}
