.register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customer {
  display: flex;
  grid-column-start: 3;
  grid-row-start: 1;
  flex-direction: column;

  width: 220px;
}

.shipping {
  display: flex;
  grid-column-start: 2;
  grid-row-start: 1;
  flex-direction: column;

  width: 220px;
}

.show_billing {
  display: flex;
  grid-column-start: 1;
  grid-row-start: 1;
  flex-direction: column;

  width: 220px;
}

.hide_billing {
  display: none;
}

.error_msg {
  justify-self: center;

  width: fit-content;
  margin-top: 4px;

  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #ef4444;
}
