@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizelegibility;

  font-synthesis: none;
}

body {
  display: flex;
  flex-direction: column;
  place-items: center;

  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}
